@font-face {
    font-family: 'font-name';
    src: url('/fonts/boost.ttf');
}

/* In your css file where you want to use the font */
.font-boost {
    font-family: 'font-name';
}

.color-white-dark {
    color: #8C8C8C
}

.as-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}